In [4]:
#tipe data float
a = float(6.1)
b = float(5.15)
c = float(3.14)
print ("nilai a = ", a)
print ("nilai b = ", b)
print ("nilai c = ", c)

nilai a =  6.1
nilai b =  5.15
nilai c =  3.14

In [13]:
#tipe data integer
a = int(4)
b = int(5)
c = int(6)
print("nilai a : ", a)
print("nilai b : ", b)
print("nilai c : ", c)

nilai a :  4
nilai b :  5
nilai c :  6

In [8]:
#tipe data string
print("hello world")
print("nama saya ali")
print("belajar python")

hello world
nama saya ali
belajar python

In [12]:
#tipe data list
listA = ['mangga', 'rambutan', 'anggur']
listB = ['sawi', 'cabe', 'brokoli']
listC = ['bakso', 'mie ayam', 'roti']
print(listA)
print(listB)
print(listC)

['mangga', 'rambutan', 'anggur']
['sawi', 'cabe', 'brokoli']
['bakso', 'mie ayam', 'roti']

In [2]:
#tipe data boolean
a = 5
b = 10
print (bool(a == b))
print (bool(a > b))
print (bool(a < b))

False
False
True

In [24]:
#tipe data hexadecimal
a = int (input("Masukkan angka yang ingin dikonversi ke hexa : "))
b = int (input("Masukkan angka yang ingin dikonversi ke hexa : "))
c = int (input("Masukkan angka yang ingin dikonversi ke hexa : "))
print("hasil hexadecimal dari bilangan ", a, " adalah ", hex (a))
print("hasil hexadecimal dari bilangan ", b, " adalah ", hex (b))
print("hasil hexadecimal dari bilangan ", c, " adalah ", hex (c))

Masukkan angka yang ingin dikonversi ke hexa : 5
Masukkan angka yang ingin dikonversi ke hexa : 4
Masukkan angka yang ingin dikonversi ke hexa : 10
hasil hexadecimal dari bilangan  5  adalah  0x5
hasil hexadecimal dari bilangan  4  adalah  0x4
hasil hexadecimal dari bilangan  10  adalah  0xa

In [5]:
#tipe data tuple
d = tuple(['a', 'b', 'c'])
e = tuple(['1', '2', '3'])
f = tuple(['a1', 'a2', 'a3'])
print (d)
print (e)
print (f)

('a', 'b', 'c')
('1', '2', '3')
('a1', 'a2', 'a3')

In [22]:
#tipe data dictionary
biodata = {
'nama' : 'Taufan Ali',
'usia' : '18' }

dhahar = {
'makan' : 'bakso',
'minum' : 'es teh' }

sekolah = {
'universitas' : 'uad',
'prodi' : 'sistem informasi'
}

print (biodata)
print (biodata['usia'])
print (dhahar)
print (dhahar['makan'])
print (sekolah)
print (sekolah['prodi'])

{'nama': 'Taufan Ali', 'usia': '18'}
18
{'makan': 'bakso', 'minum': 'es teh'}
bakso
{'universitas': 'uad', 'prodi': 'sistem informasi'}
sistem informasi